/* # By knightfall01 on Github as a part of https://github.com/Knightfall01/Hyprland-config */


* {
  all: unset;
  border: none;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

window#waybar {
  background-color: rgba(29, 31, 39, 0.8);
}

#custom-powermenu {
  border-radius: 0px;
  color: #c0caf5;
  margin-top: 0px;
  margin-right: 0px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 8px;
  font-size: 12px;
  padding-right: 4px;
}

#custom-arch {
  border-radius: 0px;
  color: #c0caf5;
  margin-top: 0px;
  margin-right: 0px;
  padding-top: 1px;
  padding-left: 10px;
  padding-bottom: 1px;
  font-size: 12px;
  padding-right: 8px;
}

#workspaces {
  padding: 0px 4px;
}

#workspaces button {
    margin: 0px 6px;
}

#workspaces button {
  color: #c0caf5;
}

#workspaces button.active {
  color: #C061CB;
}

#clock, #backlight, #custom-cava,#temperature, #cpu, #pulseaudio, #network, #battery , #tray, #memory ,#custom-playerctl{
  border-radius: 2px;
  color: #c0caf5;
  margin-top: 2px;
  padding-left: 9px;
  margin-bottom: 2px;
  padding-right: 9px;
  margin-right: 4px;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

#battery.warning:not(.charging) {
  background: #f38ba8;
  color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* #pulseaudio { */
/*   font-size: 20px; */
/* 	margin-left: 15px; */
/* } */

#tray{
  padding-right: 8px;
  padding-left: 10px;
}

/* #pulseaudio { */
/*   border-radius: 10px; */
/*   background-color: #11111b; */
/*   color: #cba6f7; */
/*   margin-top: 15px; */
/* 	margin-right: 15px; */
/*   padding-top: 1px; */
/*   padding-left: 10px; */
/*   padding-right: 10px; */
/* } */
